# - This file fetches the Teas to be made and 
# - Creates order for Both the Teabag Machines

In [1]:
origins = ['Oolong','Green','Black'] 
black_blend = ['Black','ZBT','FI','Chai','SA','Grey','CHM','ChinaGrey']
green_blend = ['Green','LG','IB']
oolong_blend= ['Oolong','GH']
no_tea =['RG','CHCF']
huami =['Jasmine','HuamiOolong','HuamiBlack','HuamiGreen']
tea_2g = ['sCHCF','sOolong','sGreen','sBlack','sZBT','sChai','sSA','sGrey','sLG','sIB','sGH']
sachets= ['CHCF','Oolong','Green','Black','ZBT','Chai','SA','Grey','LG','IB','GH']
non_woven=['SA','Chai','ZBT','RG','sZBT','sChai','sSA']
on_csk = ['Oolong','Green','Black','FI','Grey','CHM','ChinaGrey','LG'
          ,'IB','GH','RG','CHCF','sCHCF','sOolong','sGreen','sBlack','sGrey','sLG','sIB','sGH']
on_csz = ['Jasmine','HuamiOolong','HuamiBlack','HuamiGreen','SA','Chai','ZBT','RG']

In [2]:
all_tea_dict = {"black_blend": ["Black",'ZBT','FI','Chai','SA','Grey','CHM','ChinaGrey','sBlack','sGrey'],
                "green_blend" : ["Green",'LG','IB','sGreen','sLG','sIB'],"oolong_blend": ["Oolong",'GH','sOolong','sGH'],"no_tea" :['RG','CHCF','sCHCF'],
                "huami" :['Jasmine','HuamiOolong','HuamiBlack','HuamiGreen']}

In [9]:
class TeaType:
    def __init__(self,name):
        self.name=name
        TeaType.tea_origin(self.name)
        TeaType.tea_filter(self.name)
    
    @classmethod
    def tea_origin(self,inp):
    
        for x,y in all_tea_dict.items():
            for t in y:
                if inp==t:
                    return x
                    
    @classmethod
    def tea_filter(self,inp):
        
        if inp in non_woven:
            return False
        else:
            return True
        
    @classmethod
    def tea_machine(self,inp):
        if inp in on_csk:
            return 'csk'
        else:
            return "csz"

In [21]:
import pandas as pd
df = pd.read_csv("Automate1.csv")

machine_csz=[]
machine_csz_count=[]
machine_csk=[]
machine_csk_count=[]
for i in range(len(df.TEA)):
    c=TeaType.tea_machine(df.TEA[i])
    if c=='csz':
        machine_csz.append(df.TEA[i])
        machine_csz_count.append(df.COUNT[i])
    else:
        machine_csk.append(df.TEA[i])
        machine_csk_count.append(df.COUNT[i])

# Teas from the sheet is fetched and sorted on the basis of CS-Z and CS-K 

# we will try to sort the Tea order now 
#first consider the csk teas
df1 =pd.DataFrame()
df1["CSK"] =pd.Series(machine_csk)
df1["COUNT"]=pd.Series(machine_csk_count)

#sorting cs-z
df2 =pd.DataFrame()
df2["CSZ"] =pd.Series(machine_csz)
df2["COUNT"]=pd.Series(machine_csz_count)
new2=[]
for i in range(len(df2.CSZ)):
    b=TeaType.tea_origin(df2.CSZ[i])
    new2.append(b)
df2["Origin"] =new2

#adding the origin of each tea as a column 

new=[]
for i in range(len(df1.CSK)):
    a=TeaType.tea_origin(df1.CSK[i])
    new.append(a)
df1["Origin"] =new
df

          TEA  COUNT
0     sOolong   8000
1         sSA   8000
2   ChinaGrey   5000
3          GH   7000
4        Grey   6000
5      Oolong   5000
6      sBlack   6000
7          SA   9000
8       sChai   8000
9          LG   9000
10         IB   9000
11       Grey   9000
12      Green   9000
13         FI   9000
14       CHCF   9000
15     Oolong   9000
16      Black   9000
17     sBlack   8000

In [22]:
import math 
df1_1 =pd.DataFrame(columns=df1.columns)# make a new df with same headings
df1_1.loc[0]=df1.loc[0]# assigned the first row in df1_1
comp =df1.loc[0][2] #assigining the first name for comparison
df1.drop(0,axis="index",inplace=True) #dropped the added row from main df
indx=1 # index for second df is assigned 1 
lst=[]

for i in range(5):
    try:
        if math.isfinite(df1.index[i])==True:
            lst.append(df1.index[i])
        else:
              continue
    except:
        continue
 

l=len(lst)


while l>=1:
    for i in lst:
        if df1.loc[i][2]==comp:
            df1_1.loc[indx]=df1.loc[i]
            indx+=1
            df1.drop(i,axis="index",inplace=True)
        else:
            pass
        
    df1.reset_index()

    df1_1.loc[indx]=df1.loc[df1.index[0]]
    indx+=1
    comp=df1.iloc[0][2]
    df1.drop(df1.index[0],axis="index",inplace=True)
    lst=[]

    
    for i in range(4):
        try:
  
            if math.isfinite(df1.index[i])==True:
            
                lst.append(df1.index[i])
            
            else:
                continue
        except:
            continue
            
    l=len(lst)
 
    
df1_1

          CSK COUNT        Origin
0     sOolong  8000  oolong_blend
1          GH  7000  oolong_blend
2      Oolong  5000  oolong_blend
3   ChinaGrey  5000   black_blend
4        Grey  6000   black_blend
5      sBlack  6000   black_blend
6          LG  9000   green_blend
7          IB  9000   green_blend
8       Green  9000   green_blend
9        Grey  9000   black_blend
10         FI  9000   black_blend
11      Black  9000   black_blend
12       CHCF  9000        no_tea
13     Oolong  9000  oolong_blend
14     sBlack  8000   black_blend

In [20]:
df2

     CSZ  COUNT       Origin
0    sSA   8000         None
1     SA   9000  black_blend
2  sChai   8000         None

# Writing on XLS

In [14]:
with pd.ExcelWriter("output.xlsx") as writer:
    df1_1.to_excel(writer, sheet_name="CS-K", index=False)
    df2.to_excel(writer, sheet_name="CS-Z", index=False)

# Completed until Here

# Sorting the Dates

In [281]:
import datetime

In [291]:
def start_date():
    print("Please enter the date to start the schedule.")
    y=int(input("Enter the Year: "))
    m=int(input("Enter the Month: "))
    d=int(input("Enter the Day: "))
    start_date= datetime.date(y,m,d)
    day = start_date.strftime("%A")
    print("Scheduling production from {}, {}".format(start_date,day))
    delta = datetime.timedelta(days=1)
    
    # end_date = start_date + (delta*(len(df.TEA)))
    #print("Upto {}".format(end_date))
    
    
    d = start_date
    global production_days
    production_days =[]
    #e= end_date
    global s
    s=0
    e=1.3* (len(df.TEA))
    weekend = set([4, 5, 6])
    while s <= e:
        if d.weekday() not in weekend:
            print(d)
            production_days.append(d)
            s=s+1
        d+=delta
    print("Number of working production days:",s)

In [292]:
start_date()

Please enter the date to start the schedule.
Enter the Year: 2022
Enter the Month: 10
Enter the Day: 23
Scheduling production from 2022-10-23, Sunday
2022-10-24
2022-10-25
2022-10-26
2022-10-27
2022-10-31
2022-11-01
2022-11-02
2022-11-03
2022-11-07
2022-11-08
2022-11-09
2022-11-10
2022-11-14
2022-11-15
2022-11-16
2022-11-17
2022-11-21
2022-11-22
2022-11-23
2022-11-24
2022-11-28
2022-11-29
2022-11-30
2022-12-01
2022-12-05
2022-12-06
2022-12-07
2022-12-08
Number of working production days: 28

In [290]:
s

28

In [342]:
dates = pd.DataFrame()

In [294]:
production_days[0]

datetime.date(2022, 10, 24)

In [304]:
for i in range(s):
    df.iloc[]

1